@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: 'Cormorant Garamond';
    font-size: 100%;
    font-style: normal;
    text-transform: none;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1.4;
    vertical-align: baseline;
    background-color: #09070D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .menu_btn {
    position: fixed;
    visibility: visible;
    opacity: 1;
    z-index: 20;
    top: 10px;
    right: 10px;
  }
  .menu_btn a {
    font-size: 2em;
    padding: 20px 15px;
    display: inline-block;
    letter-spacing: 3px;
    transition: color ease-in-out 0.4s;
    color: #EDEBF4;
  }
  .menu_btn a:hover, .menu_btn a:focus, .menu_btn a:focus-within {
    color: #6A58A7;
  }
  nav {
    display: block;
  }
  .panel {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    width: 0%;
  }
  .panel--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151221;
    right: 50%;
  }
  .panel--right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09070d;
    right: 0;
  }
  .line {
    display: block;
    position: absolute;
    left: 0;
    top: 1em;
    width: 28px;
    height: 1px;
    background: rgba(130, 130, 130, 0.6);
    opacity: 0;
  }
  .navigation ul li, .navigation ul li a, .navigation ul li a span {
    position: relative;
    display: block;
  }
  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .navigation h2 {
    width: 0;
    height: 0;
    text-indent: -9999px;
  }
  .navigation .menu {
    display: flex;
    flex: 8;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    transform: translate(-100%, 0);
  }
  .navigation .menu > li {
    line-height: 30px;
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
    padding: 0.4em 0 0.4em 42px;
    margin: 0.2em 0;
    text-align: left;
    float: left;
    clear: both;
  }
  .navigation .menu > li > a {
    color: #edebf4;
    text-decoration: none;
    overflow: hidden;
    transition: color ease-in-out 0.4s;
  }
  .navigation .menu > li > a:hover, .navigation .menu > li > a:focus, .navigation .menu > li > a:focus-within {
    color: #6A58A7;
  }
  .navigation .menu > li > a > span {
    top: 0;
    text-transform: none;
  }
  .navigation .sub-menu > li {
    display: block;
    float: left;
    clear: both;
    line-height: 30px;
    font-size: 14px;
    font-size: 0.875em;
    font-size: 0.875rem;
    padding: 0;
    margin: 0;
  }
  .navigation .sub-menu > li > a {
    color: #edebf4;
    text-transform: none;
    overflow: hidden;
    transition: color ease-in-out 0.4s;
  }
  .navigation .sub-menu > li > a:hover, .navigation .sub-menu > li > a:focus, .navigation .sub-menu > li > a:focus-within {
    color: #6A58A7;
  }
  .litem {
    transform: translate(0, -100%);
  }
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 32px 70px;
    opacity: 0;
    font-size: 12px;
    font-size: 0.75em;
    font-size: 0.75rem;
  }
  .footer__gredits, .footer__social {
    display: block;
    color: #09070d;
  }
  .footer__gredits > a, .footer__social > a {
    color: #09070d;
    margin: 0 5px;
    text-decoration: none;
    transition: color ease-in-out 0.4s;
  }
  .footer__gredits > a:hover, .footer__social > a:hover, .footer__gredits > a:focus, .footer__social > a:focus, .footer__gredits > a:focus-within, .footer__social > a:focus-within {
    color: #6A58A7;
  }
  .close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .close_btn a {
    font-size: 1em;
    padding: 20px 15px;
    display: inline-block;
    letter-spacing: 3px;
    transition: color ease-in-out 0.4s;
    color: #edebf4;
  }
  .close_btn a:hover, .close_btn a:focus, .close_btn a:focus-within {
    color: #6A58A7;
  }
  .data {
    padding: 0 20%;
  }
  .data__content {
    font-family: open_sansregular, arial;
    font-size: 26px;
    font-size: 1.625em;
    font-size: 1.625rem;
    line-height: 38px;
    color: #edebf4;
    font-style: italic;
    text-align: justify;
    opacity: 0;
    transform: translate(0, 50px);
  }
  @media (max-width: 680px) {
    .data__content {
      font-size: 16px;
      font-size: 1em;
      font-size: 1rem;
      line-height: 18px;
    }
  }
  /*this is for the quote author*/
  .data__sub {
    color: #EDEBF4;
    float: left;
    margin-top: 2%;
    font-size: 11px;
    font-size: 0.6875em;
    font-size: 0.6875rem;
    opacity: 0;
    transform: translate(0, 50px);
  }
  .container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
  }
  .text {
    font-weight: 100;
    font-size: 38px;
    color: #edebf4;
  }
  .dud {
    color: #edebf4;
  }
  